<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="businessObjects">
			<sectionGroup name="crystalReports">
				<section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
			</sectionGroup>
		</sectionGroup>
	</configSections>

	<appSettings>
		<add key="ResourceUri" value="/aspnet_client/system_web/4_0_30319/crystalreportviewers13" />
	</appSettings>
	<connectionStrings>
		<add name="con" connectionString="Data Source=.;Initial Catalog=exp9db;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
				<add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
				<add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
				<add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.7.2" />
	</system.web>

	<system.webServer>
		<handlers>
			<add name="CrystalImageHandler" path="CrystalImageHandler.aspx" verb="*" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>

	<businessObjects>
		<crystalReports>
			<crystalReportViewer>
				<add key="ResourceUri" value="/aspnet_client/system_web/4_0_30319/crystalreportviewers13" />
			</crystalReportViewer>
		</crystalReports>
	</businessObjects>
</configuration>